<form class="login-form" [formGroup]="form">
  <h1 class="h1 mb60">Вход</h1>
  <label class="tt-control-label mb16">
    Telegram username
    <input
      formControlName="username"
      type="text"
      class="tt-input"
      placeholder="Введите логин"
    />
  </label>
  <label class="tt-control-label mb32">
    Пароль
    <input
      formControlName="password"
      type="text"
      class="tt-input"
      placeholder="Введите логин"
    />
  </label>
  <button type="submit" class="btn btn-shadow">Войти</button>
</form>

<img src="/assets/svg/login-big.svg" alt="" />
